body{
    background-color: blanchedalmond;
    font-family: 'Barlow', sans-serif; 
    margin:20px 20px 20px 20px;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#header1{
    background: red;
    border: 10px dashed black;
    width: 100%;
}
#in{
    background-color: burlywood;
    width:300px;
    height: 200px;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
}
#title{
    color:purple;
    font-weight: bold;
    font-size:50px;
    margin: 20px 20px 20px 20px;
    text-align: center;
}
aside {
    width: 20%;
    height:500px;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
    font-style: italic;
    background-color: lightgray;
}
section{
    background:rgb(213, 228, 184);
    border: 2px solid black;
    width: 100%;
    padding:10px;
}
.column{
    float:right;
    width:40%;
    padding:20px;
}
.row{
    margin:auto;
    clear:both;
    display:table;
}
#in2{
    background-color: cornflowerblue;
    width: 300px;
    height:400px;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
}
.Berkley{
    width: 250px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
    border-radius: 15%;
}
.BerkleyLeftAlign{
    width: 23%;
    padding:1%;
    border-radius: 15%;
}
#in3{
    background-color: olivedrab;
    width:50%;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
    border:solid yellow 20px;
    border-radius: 15%;
    padding:10px;
}
.bodycopy{
    color: navy;
    font-weight: bold;
    font-size:18px;
    text-align:center;
}
table{
    border:10px solid black;
    border-radius: 10%;
    margin-left: 10px;
    margin-right:10px;
    padding:10px;
}
th{
    border:1px dashed red;
    border-radius: 15%;
    text-align: center;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:5px;
}
td{
    border:1px dashed blue;
    border-radius: 15%;
    text-align: center;
    padding:10px;
}
#Berks{
    color: navy;
    font-weight: bold;
    font-size:18px;
    text-align:center;
}
H1{
    font-size: 36px;
    font-weight:bold;
}
.bodycopy3{
    font-size: 14px;
    font-weight: lighter
}
.bodycopy2{
    font-size: 12px;
    font-weight: medium;
}
#headshot{
    display:table;
}
.left-photo{
    float:left;
    width:200px;
    padding: 0px 20px 5px 5px;
  }
  .right-photo{
    float:right;
    width:200px;
    padding: 0px 5px 5px 20px;
  }
  #position-test{
    background:#ffffff;
    border: 1px solid red;
    height:200px;
    width: 100%;
    position:relative;
}
.absolute-test{
    display:inline-block;
    height: 50px;
    width:100px;
    color:blue;
    font-weight:700;
    font-size: 12px;
    text-align: center;
    border: 2px solid black;
    padding:20px;
}
.cheese{
    margin:3px;
    display:inline-block;
    height:100px;
    font-size: 18px;
    padding:4px;
    border: 2px solid black;
}
.left{
    width:40%;
    background-color: gold;
    color:#ffffff;
    position:absolute;
    top:5px;
    left:2px;
}
.right{
    width:50%;
    background-color: hotpink;
    color:#ffffff;
    position:absolute;
    top:5px;
    right:2px;
}
.button-design{
    width:19.5%;
    height:50px;
    color: black;
    font-weight: bold;
    background-color: springgreen;
    border-radius: 15%;
    display:inline-block;
    vertical-align: top;
}
nav{
    width:73%;
    padding:1%;
}
uo{
    width:50%;
    margin-left:auto;
}
footer{
    padding:20px;
}