h1{
color:red;
font-weight: bold;
font-size:100px;
}
#title{
    color:purple;
    font-weight:bold;
    font-size:200px;
}
.Berkley{
    width: 300px;
}
table{
    border:1px solid black;
}
th{
    border:1px dashed red;
    text-align: center;
}
td{
    border:2px dashed blue;
    text-align: center;
}